        <aside class="toolBar">
        	<ul>
        		<li><a href=""></a></li>
        		<li><a href=""></a></li>
        		<li><a href="">Profesor</a></li>
        	</ul>
        </aside>
        <section class="content">
        	<h1 class="contentTitle">Cursos</h1>
        	<div class="cleaner"></div>
        	<p class="contentText">
        		A continuacion se muestra una lista con los cursos en los que estas inscrito,
        		selecciona uno para revisar tus avances y asistencia.
        	</p>
        	<form class="form1">
        		<table>
        			<thead>
        				<tr>
        					<th><input type="checkbox"/></th>
        					<th>Ciclo escolar</th>
        					<th>Lista de Asistencias</th>
        					<th>Calficaciones</th>
        				</tr>
        			</thead>
        			<tbody>
        				<tr>
        					<td class="checker"><input type="checkbox"/></td>
        					<td>Programacion Web</td>
        					<td><input type="button" value="Lista"/></td>
        					<td><input type="button" value="Calificaciones"/></td>
        				</tr>
        				<tr>
        					<td class="checker"><input type="checkbox"/></td>
        					<td>Sistemas Expertos</td>
        					<td><input type="button" value="Lista"/></td>
        					<td><input type="button" value="Calificaciones"/></td>
        				</tr>
        			</tbody>
        		</table>
        		<input type="button" class="endButton" value="Desmatricularse"/>
        	</form>
        </section>
        <div class="cleaner"></div>
        <footer>
        		<div class="cleaner" ></div>
        		<img id="footer_logo" src="../img/udg_logo.png" />
        		<h1 id="footer_info">Universidad de Guadalajara</h1>
        		<div class="cleaner"></div>
        		<h3 id="footer_info2">2013</h3>
        </footer>
        
        
        
        
        
        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script src="../js/plugins.js"></script>
        <script src="../js/main.js"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
