        <aside class="toolBar">
        	<ul>
        		<li><a href="./index.php?control=alumn&action=course">Cursos</a></li>
        		<li><a href="./index.php?control=alumn&action=config">Configuracion</a></li>
        		<li><a href="./index.php?control=login&action=signOut">Salir</a></li>
        	</ul>
        </aside>
        <section class="content">
        	<h1 class="contentTitle">Bienvenido a SUCE</h1>
        	<div class="cleaner"></div>
        	<p class="contentText">
        		Bienvenido alumno, desde esta aplicacion podras darle seguimiento a
        		las evaluaciones que recibes de tus profesores y revisar tu record
        		de asistencias.
        		<br>
        		<br>
        		Usa la barra lateral para consultar los rubros referentes a cursos y
        		calificaciones y tambien para actualizar la informacion de tu cuenta.
        		Si tienes alguna duda o comentario, dirigete a tu profesor y pidele
        		que contacte al administrador del sistema.
        	</p> 
        </section>