        <aside class="toolBar">
        	<ul>
        		<li><a href="./index.php?control=cicle&action=show">Ciclos</a></li>
        		<li><a href="./index.php?control=admin&action=index">Admin</a></li>
        	</ul>
        </aside>
        <section class="content">
        	<h1 class="contentTitle">Agregar Ciclos Escolares</h1>
        	<div class="cleaner"></div>
        	<p class="contentText">
        		Indique los datos correspondientes al nuevo ciclo.
        	</p>
        	<div class="cleaner"></div>
        	<form method="post" name="form" class="form1" action="./index.php?control=cicle&action=save">
        		<div class="inputPair">
		    		<label class="inputLabel2" for="year">Ciclo escolar:</label>
		    		<input id="year" name="year" type="number" min="2013" />
		    		<select id="ab" name="ab">
		    			<option selected value="A">A</option>
		    			<option value="B">B</option>
		    		</select>
        		</div>
        		<div class="inputPair">
		    		<label class="inputLabel2" for="init">Fecha de inicio</label>
		    		<input type="date" id="init" name="init" />
        		</div>
        		<div class="inputPair">
		    		<label class="inputLabel2" for="end">Fecha de fin</label>
		    		<input type="date" id="end" name="end" />
        		</div>
        		<div class="cleaner"></div>
        		<div class="inputPair">
        			<input id="addD" type="button" value="Agregar dia libre" onclick="addDay( )"/>
        		</div>	
        		<input class="endButton" type="button" value="Agregar" onclick="cicleValidatorNew( )" />
        	</form>
        </section>