        <aside class="toolBar">
        	<ul>
        		<li><a href="./index.php?control=admin&action=index">Admin</a></li>
        	</ul>
        </aside>
        <section class="content">
        	<h1 class="contentTitle">Configuracion</h1>
        	<div class="cleaner"></div>
        	<p class="contentText">
        		Aqui puede configurar los parametros de su cuenta.
        		<br>
        		<br>
        		<strong>Cambiar contraseña</strong>
        	</p>
        	<div class="cleaner"></div>
        	<form class="form1">
        		<div class="inputPair">
					<label class="inputLabel2">Contraseña actual</label>
					<input type="password" />
        		</div>
        		<div class="cleaner"></div>
        		<div class="inputPair">
					<label class="inputLabel2">Contraseña nueva</label>
					<input type="password" />
        		</div>
        		<div class="cleaner"></div>
        		<div class="inputPair">
					<label class="inputLabel2">Repetir Contraseña</label>
					<input type="password" />
        		</div>
        		<input class="endButton" type="button" value="Cambiar" />
        	</form>
        </section>