        <aside class="toolBar">
        	<ul>
        		<li><a href="./index.php?control=course&action=show">Cursos</a></li>
        		<li><a href="./index.php?control=teacher&action=index">Profesor</a></li>
        	</ul>
        </aside>
        <section class="content">
        	<h1 class="contentTitle">Agregar Cursos</h1>
        	<div class="cleaner"></div>
        	<p class="contentText">
        		Indique los datos correspondientes al curso.
        	</p>
        	<div class="cleaner"></div>
        	<form method="post" class="form1" name="form" action="./index.php?control=course&action=save">
        		<div class="inputPair">
		    		<label class="inputLabel2">Ciclo:</label>
		    		<select>
		    			<option value="{id}">{cicle}</option>
		    		</select>
        		</div>