		<div class="cleaner"></div>
        <footer>
        		<div class="cleaner"></div>
        		<img id="footer_logo" src="./www/img/udg_logo.png" />
        		<h1 id="footer_info">Universidad de Guadalajara</h1>
        		<div class="cleaner"></div>
        		<h3 id="footer_info2">2013</h3>
        </footer>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="./www/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <!-- editTeacher-->
        <!-- editCicle-->
        <script src="./www/js/plugins.js"></script>
        <script src="./www/js/main.js"></script>
		<script src="./www/js/interfaceMan.js"></script>
        <script src="./www/js/validators.js"></script>
        <script src="./www/js/ajax.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
