        <section id="login">
			<form method="post" action="./index.php?control=login&action=authenticate" name="fLogin">
				<h2 id="loginLabel">Login</h2>
				<div class="cleaner"></div>
				<div class="inputPair">
					<label class="inputLabel" for="user">Usuario:</label>
					<input type="text" name="user" id="user"/>
				</div>
				<div class="inputPair">
					<label class="inputLabel" for="passwd">Password:</label>
					<input type="password" name="passwd" id="passwd"/>
				</div>
				<input id="loginButton" type="button" value="Entrar" onclick="login_validator()" />
				<div class="cleaner"></div>
				<a id="lostPasswd" href="./index.php?control=login&action=passwdRecovery">Olvide mi contraseña</a>
			</form>
		</section>
