        <aside class="toolBar">
        	<ul>
        		<li><a href="./index.php?control=teacher&action=add">Agregar Profesor</a></li>
        		<li><a href="./index.php?control=admin&action=index">Admin</a></li>
        	</ul>
        </aside>
        <section class="content">
        	<h1 class="contentTitle">Profesores</h1>
        	<div class="cleaner"></div>
        	<p class="contentText">
        		Esta herramienta le permite dar de alta profesores que desee que
        		puedan agregar y modificar cursos en el sistema.
        		<br>
        		<br>
        		Para registrar un profesor debera crear una cuenta, esta generara
        		una contraseña aleatoria que sera enviada al correo del profesor.
        		La contraseña enviada puede ser cambiada en cualquier momento 
        		desde la interfaz del profesor.
        		<br>
        		<br>
        		A continuacion se muestran los profesores registrados.
        	</p>
        	<form class="form1" name="form" method="post" action="">
        		<table>
        			<thead>
        				<tr>
        					<th><input type="checkbox" id="master" onclick="selectAll( )"/></th>
        					<th>Nombre</th>
        					<th class="hidden320">Cuenta</th>
        					<th class="hidden320">Mail</th>
        					<th>Editar</th>
        					<th>Eliminar</th>
        				</tr>
        			</thead>
        			<tbody>
        				<tr>
        					<td class="checker"><input type="checkbox" id="{id}"/></td>
        					<td class="selected" onclick="showDataTeacher( {id} )">{name}</td>
        					<td class="hidden320">{id}</td>
        					<td class="hidden320">{email}</td>
        					<td><input type="button" value="Editar"  id="edit{id}" onclick="editTeacher({id})"/></td>
        					<td><input type="button" value="X" id="delete{id}"  onclick="deleteTeacher({id})"/></td>
        				</tr>
        			</tbody>
        		</table>
        		<div class="inputPair">
        			<input type="button" value="Eliminar marcados"/>
        		</div>
        	</form>
        </section>