<html style="background-color: #738e90;">
	<body style = "font-family: sans-serif;">
		<h1 style = "text-align: center;">Profesor, ha sido registrado en SUCE!</h1>
		<div style = "margin-left:15%">
			<p>
				Se ha creado una cuenta para usted en el Sistema Universitario de Control Escolar,
				para que pueda acceder a ella debe ingresar a <a href="www.alanturing.com/cc409/user211/index.php?control=alumn&action=index">SUCE</a>.
			</p>
			<p>
				Sus datos de acceso son:<br>
				Usuario: {user}<br>
				Password: {passwd}
			</p>
			<p>
				Si tiene alguna duda o problema contacte al administrador del sistema.
			</p>
		</div>
	</body>
</html>
