/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html{
	background-image: url("../img/img01.jpg");
	background-repeat:repeat;
}

header{
	background-color: #738e90;
	width: 80%;
	margin-top: 2%;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	-webkit-border-radius: 10px;
}

.cleaner{
	clear: both;
}

#header_image{
	width: 130px;
	height: 130px;
	margin-left: 3%;
	margin-top: 1%;
	margin-right: 8%;
	margin-bottom: 1%;	
	float:left;
}

#header_1{
	float: left;
	font-size: 60px;
	margin-top: 3%;
	margin-bottom: 0%;
}

#header_2{
	float: left;
	margin-top: 10%;
	margin-left: 3%;
	font-size: 20px;
}

#login{
	background-color: #738e90;
	width: 40%;
	height: 360px;
	margin-top: 2%;
	margin-left: 30%;
	margin-right: 30%;
	margin-bottom: 5%;
	border-radius: 10px;
	font-size: 14px;
}

#loginLabel{
	margin-left: 45%;
	float: left;	
}

#loginButton{
	float: left;
	margin-top: 10%;
	margin-left: 45%;
	margin-bottom: 3%;
}

#lostPasswd{
	float: left;
	margin-left: 3%;
	margin-bottom: 3%
}

.inputPair{
	margin-left: 20%;
	margin-top: 5%;	
}

.inputLabel{
	float: left;
	width: 25%;
}

.inputLabel2{
	float: left;
	width: 40%;
}

.errorLine{
	color: red;
	text-align: center;
	background-color: gray;
}

.inputLabel3{
	float: left;
	margin-right: 5%;
}

#year{
	width: 20%;
}

a{
	text-decoration: none;
	color: #222 ;
}
a:hover{
	color: blue;
	background-color: gray;
}

.endButton{
	float: left;
	margin-left: 35%;
	margin-top: 5%;
}

table{
	float: left;
	margin-left: 5%;
	margin-bottom: 5%;
	margin-top: 5%;
	width: 80%;
	background-color: gray;
	border:3px solid black;
}

thead{
	background-color: #1B4B50;
}

th{
	border: 1px solid black;
	padding-top: 2%;
	padding-bottom: 2%;
}

td{
	border: 1px solid black;
	padding-left: 1%;
	padding-right: 3%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.checker{
	text-align: center;
	padding-left: 0;
	padding-right: 0;
}

.toolBar{
	float: left;
	margin-left: 10%;
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: 14px;
	margin-right: 2%;
	background-color: #738e90;
	width: 16%;
	border-radius: 10px;
}

.form1{
	float: left;
	width: 100%;
	margin-bottom: 15%;
	margin-top: 2%;
}


.content{
	float: left;
	margin-top: 2%;
	margin-bottom: 2%;
	background-color: #738e90;
	width: 62%;
	font-size: 14px;
	border-radius: 10px;
}

.content_f{
	float: left;
	margin-top: 2%;
	margin-left: 10%;
	margin-bottom: 2%;
	margi-right: 10%;
	background-color: #738e90;
	width: 80%;
	font-size: 14px;
	border-radius: 10px;
}

.contentTitle{
	float: left;
	margin-left: 4%;
	margin-top: 2%;
}

.contentText{
	float: left;
	margin-left: 4%;
	margin-top: 2%;
	margin-right: 15%; 
	margin-bottom: 5%;
}

footer{
	background-color: #738e90;
	width: 100%;
	height: 160px; 
}


#footer_logo{
	width: 100px;
	height: 100px;
	margin-left: 27%;
	margin-top: 1%;
	margin-right: 2%; 
	float: left;
}

#footer_info{
	margin-top: 2%;
	float: left;
}

#footer_info2{
	margin-left: 50%;
}



@media ( max-width:320px ){
	
	header{
		width: 91%;
		margin-left: 2.3%;
		margin-right: 2.3%;
	}
	
	.inputLess{
		width: 30px;
	}
	
	.hidden320{
		display: none;
	}
	
	#header_image{
		width: 50px;
		height: 50px;
	}
	
	section{
		font-size: 13px;
	}
	
	#header_1{
		font-size: 40px;
	}
	
	#header_2{
		display:none;
	}
	
	#login{
		width: 91%;
		margin-left: 2.3%;
		margin-right: 2.3%;
		height: 300px;
	}
	
	#loginLabel{
		margin-left: 40%;
	}
	
	#loginButton{
		margin-left: 40%;
	}
	
	.inputPair{
		margin-left: 5%;
	}
	
	.content_f{
		width: 91%;
		margin-left: 2.3%;
		margin-right: 2.3%;
	}
	
	.content{
		width: 91%;
		margin-left: 2.3%;
		margin-right: 2.3%;
	}
	
	.toolBar{
		width: 91%;
		margin-left: 2.3%;
		margin-right: 2.3%;
	}	

	h1{
		font-size: 18px;
	}
	
	footer{
		height: 80px;
	}
	
	#footer_logo{
		width: 50px;
		height: 50px;
		margin-left: 5%;
	}
	#footer_info{
		font-size: 17px;
	}
	#footer_info2{
		display: none;
	}
	
	ul{
		list-style-type: circle;
	}
	
}

@media ( min-width:321px ) and ( max-width:480px ){
	header{
		width: 95%;
		margin-left: 2.3%;
		margin-right: 2.3%;
	}
	
	section{
		font-size: 14px;
	}
		
	.hidden320{
		display: none;
	}
	
	.inputLess{
		width: 100px;
	}
	
	#header_image{
		width: 60px;
		height: 60px;
	}
	
	#header_1{
		font-size: 40px;
	}
	
	#login{
		width: 70%;
		margin-left: 14.3%;
		margin-right: 14.3%;
		height: 300px;
	}
	
	#loginLabel{
		margin-left: 40%;
	}
	
	#loginButton{
		margin-left: 40%;
	}
	
	#header_2{
		display:none;
	}
	
	.content{
		width: 95%;
		margin-left: 2.3%;
		margin-right: 2.3%;
	}
	
	.toolBar{
		width: 95%;
		margin-left: 2.3%;
		margin-right: 2.3%;
	}	
	
	.content_f{
		width: 95%;
		margin-left: 2.3%;
		margin-right: 2.3%;
	}
	
	.inputPair{
		margin-left: 8%;
	}
	
	h1{
		font-size: 18px;
	}
	
	footer{
		height: 80px;
	}
	
	#footer_logo{
		width: 50px;
		height: 50px;
		margin-left: 20%;
	}
	
	#footer_info{
		font-size: 17px;
	}
	
	#footer_info2{
		display: none;
	}
	
	ul{
		list-style-type: circle;
	}
}

@media ( min-width:481px ) and ( max-width:600px ){
	header{
		width: 95%;
		margin-left: 2.3%;
		margin-right: 2.3%;
	}
	
	section{
		font-size: 15px;
	}
		
	.hidden320{
		display: none;
	}
	
	.inputLess{
		width: 100px;
	}
	
	#header_image{
		width: 80px;
		height: 80px;
	}
	
	#header_1{
		font-size: 50px;
	}
	
	#login{
		width: 70%;
		margin-left: 14.3%;
		margin-right: 14.3%;
		height: 300px;
	}
	
	#loginLabel{
		margin-left: 40%;
	}
	
	#loginButton{
		margin-left: 40%;
	}
	
	#header_2{
		display:none;
	}
	
	.content{
		width: 68%;
		margin-left: 1%;
		margin-right: 2.3%;
	}
	
	.toolBar{
		margin-left: 2%;;
		font-size: 13px;
		width: 25%;
		margin-right: 1%;
	}	
	
	.content_f{
		width: 95%;
		margin-left: 2.3%;
		margin-right: 2.3%;
	}
	
	.inputPair{
		margin-left: 8%;
	}
	
	h1{
		font-size: 18px;
	}
	
	footer{
		height: 130px;
	}
	
	#footer_logo{
		width: 70px;
		height: 70px;
		margin-left: 20%;
	}
	
	#footer_info{
		font-size: 20px;
	}
	
	
	ul{
		list-style-type: circle;
	}
}

@media ( min-width:601px ) and ( max-width:800px ){
	header{
		width: 95%;
		margin-left: 2.3%;
		margin-right: 2.3%;
	}
	
	section{
		font-size: 15px;
	}
	
	#header_image{
		width: 60px;
		height: 60px;
	}
	
	#header_1{
		font-size: 40px;
	}
	
	#login{
		width: 70%;
		margin-left: 14.3%;
		margin-right: 14.3%;
		height: 300px;
	}
	
	#loginLabel{
		margin-left: 40%;
	}
	
	#loginButton{
		margin-left: 40%;
	}
	
	#header_2{
		display:none;
	}
	
	.content{
		width: 95%;
		margin-left: 2.3%;
		margin-right: 2.3%;
	}
	
	.toolBar{
		width: 95%;
		margin-left: 2.3%;
		margin-right: 2.3%;
	}	
	
	.content_f{
		width: 95%;
		margin-left: 2.3%;
		margin-right: 2.3%;
	}
	
	.inputPair{
		margin-left: 8%;
	}
	
	h1{
		font-size: 18px;
	}
	
	footer{
		height: 80px;
	}
	
	#footer_logo{
		width: 50px;
		height: 50px;
		margin-left: 20%;
	}
	
	#footer_info{
		font-size: 17px;
	}
	
	#footer_info2{
		display: none;
	}
	
	ul{
		list-style-type: circle;
	}
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
